---
---

@import "{{ site.theme }}";

h1 > a {
  color: inherit;
}

h1 > a:hover {
  color: #069;
  font-weight: bold;
}

a:hover {
  color: #727272;
  font-weight: normal;
}

@media print, screen and (max-width: 960px) {
  [id^="MathJax-Element"][style*="text-align"] {
    font-size: 100% !important;
  }
}

@media print, screen and (max-width: 720px) {
  [id^="MathJax-Element"][style*="text-align"] {
    font-size: 90% !important;
  }
}

@media print, screen and (max-width: 480px) {
  [id^="MathJax-Element"][style*="text-align"] {
    font-size: 85% !important;
  }
}
