---
---

@import "{{ site.theme }}";

h1 > a {
  color: inherit;
}

h1 > a:hover {
  color: #069;
  font-weight: bold;
}

a:hover {
  color: #727272;
  font-weight: normal;
}

span[id^="MathJax-Element"][style] {
  font-size: 100% !important;
}
